* {
    font-family: Arial, Helvetica, sans-serif;
}

#showResult {
    display: none;
    height: 100px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(241, 241, 171);
    border: 5px solid #000000;
    border-radius: 10px;
    line-height: 100px;
    font-size: x-large;
    font-weight: bold;
}